*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    box-sizing: border-box;
   
}

.card{
    height: 300px;
    width: 300px;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}